<html>
<body marginwidth="10">
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td width ="50%" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><b>Secure File Folders</b></font></td>
    <td valign="top"><div align="right"><img src="/templates/images/Logo-color.png" width="300" height="38" align="right"></div></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">CryptoHeaven is an Internet tool that provides an easy way for mobile professionals to <strong>access</strong>, <strong>store</strong>, <strong>backup</strong> and <strong>share</strong> documents with workgroup members located anywhere in the world. Only people whom you have explicitly granted permission to will be able to access files in a shared folder.    
      <br><br>Simply create your file folders, upload or drag and drop files onto it and invite other to access and share the information.</font></td>
  </tr>
</table>
<br>
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Icons</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/MyComputer16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">your local computer view, not stored on CryptoHeaven</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/FldClosed16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">private file folder</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/templates/images/FldClosedShared16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">shared file folder</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Actions</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/FolderNew16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/300">create</a> a new file folder</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/templates/images/FldClosedShared16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/312">share</a> an existing  file folder</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/UserFind16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/500">find</a> a CryptoHeaven user</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><br>Right click an item to see a popup menu and more context sensitive actions.</font></td>
      </tr>
      <tr>
        <td height="1"><img src="/templates/images/spacer.gif" alt="" width="35" height="1"></td>
        <td><img src="/templates/images/spacer.gif" alt="" width="200" height="1"></td>
      </tr>
    </table>
	</td>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Tips</strong></font></td>
      </tr>
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">By default CryptoHeaven File Folders are PRIVATE, but you can securely share them (<a href="http://www.cryptoheaven.com/UserGuide/Secure-File-Storage-CryptoVault.htm#SharingDataFolders">help</a>) with people on your <a href="http://localhost/actions/308?Contacts">Contact List</a>.<br><br>
          <a href="http://localhost/actions/303">Upload</a> files with simple drag &amp; drop or by clicking on the<a href="http://localhost/actions/303"><img src="/images/Export16.png" hspace="4" border="0"></a>icon located on the toolbar.<br>
          <br>To modify folder share properties right click on the desired folder to get the popup menu, click <a href="http://localhost/actions/312">Share Folder</a>.</font></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2"></font><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Help &amp; Support<br>
<a href="http://www.cryptoheaven.com/QuickTour/Secure-Online-File-Storage.htm"><img src="/templates/images/bullet.gif" border="0">Storing Files Online - Quick Overview</a><br>
<a href="http://www.cryptoheaven.com/UserGuide/Secure-File-Storage-CryptoVault.htm"><img src="/templates/images/bullet.gif" border="0">Storing Files Online - Tutorial</a></font></font><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"></p>
</body>
</body>
</html>