<html>
<body marginwidth="10">
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td width ="50%" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><b>Secure Email</b></font></td>
    <td valign="top"><div align="right"><img src="/templates/images/Logo-color.png" width="300" height="38" align="right"></div></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">CryptoHeaven provides an easy and <strong>secure</strong> way to <strong>send, receive and securely share email</strong> with anyone in the world. CryptoHeaven encrypts all information that is sent across the system. This means that even in the unlikely event that someone does manage to successfully hack-in, they still won't be able to read any of the information that has been sent or received via CryptoHeaven.</font></p></td>
  </tr>
</table>
<br>
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Icons</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/FldMailClosed16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">private email folder</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/templates/images/FldMailClosedShared16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">shared email folder</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/AddressBook16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">private address book </font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/templates/images/FldAddrClosedShared16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">shared address book </font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Actions</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/ComposeMail16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/503">compose</a> a new message</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/AddressAdd16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/511">create</a> an address book entry</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/UserFind16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/500">find</a> a CryptoHeaven user</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><br>Right click an item to see a popup menu and more context sensitive actions.</font></td>
      </tr>
      <tr>
        <td height="1"><img src="/templates/images/spacer.gif" alt="" width="35" height="1"></td>
        <td><img src="/templates/images/spacer.gif" alt="" width="200" height="1"></td>
      </tr>
    </table>
	</td>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Tips</strong></font></td>
      </tr>
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Communicate securely with any email recipient on the Internet. The recipient does not have to have a CryptoHeaven account. <a href="http://localhost/actions/503">Create</a> a new message, click the send button and choose &quot;Send Encrypted with Question and Answer.&quot;<br>
          <br>Create a shared address book for your entire organization and give everyone access to up-to-date contact information.</font></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Help &amp; Support<br>
<a href="http://www.cryptoheaven.com/QuickTour/Sending-Secure-Email.htm"><img src="/templates/images/bullet.gif" border="0">Secure Email - Quick Overview</a><br>
<a href="http://www.cryptoheaven.com/UserGuide/Secure-Email-CryptoMail.htm"><img src="/templates/images/bullet.gif" border="0">Secure Email - Tutorial</a></font></font><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"></p>
</body>
</html>