<html>
<body marginwidth="10">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Secure Email</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		Easily send, receive, and share encrypted email with anyone in the world.
  </font>
</p>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/503"><img src="images/mail-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/503"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Compose New Mail</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/508"><img src="/images/chat-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/508"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Chat</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/300"><img src="images/folder-new-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/300"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Create New Folder</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Shared Address Books</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		Create a shared address book for your entire organization and give everyone access to the up-to-date contact information.
  </font>
</p>
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Security & Privacy</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		All your email and files get encrypted on your computer, and delivered encrypted to your recipients.  We cannot access your private email and files.
	</font>
</p>
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Encrypted Online Storage</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		For enhanced security, all messages and files reside exclusively on encrypted online storage, so that absolutely nothing is stored on your local computers.
	</font>
</p>
</td>
</tr>
</table>
</body>
</html>