<html>
<body marginwidth="10">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Secure Instant Messaging</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		CryptoHeaven provides an easy and secure way to send, receive and securely share messages with anyone in the world.
  </font>
</p>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/508"><img src="/images/chat-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/508"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Chat</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Invite Others</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/500"><img src="images/user-find-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/500"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Find CryptoHeaven Members</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/509"><img src="images/invite-via-email-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/509"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Invite via Email</font></a>
	</td></tr></table>
</td>
<td width="50%">
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Retention Period</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		You can change chat log history retention period by selecting a chat folder and going to the folder properties menu.
  </font>
</p>
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Security & Privacy</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		In contrast to most other security providers, all your messages and files get encrypted on your computer, so that no one - including the employees at CryptoHeaven Corp. - can access your private email and files. 
	</font>
</p>
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Encrypted Online Storage</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		For enhanced security, all messages and files reside exclusively on encrypted online storage, so that absolutely nothing is stored on your local computers.
	</font>
</p>
</td>
</tr>
</table>
</body>
</html>