<html>
<body marginwidth="10">
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td width ="50%" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><b>Groups and Role Based Access Control</b></font></td>
    <td valign="top"><div align="right"><img src="/templates/images/Logo-color.png" width="300" height="38" align="right"></div></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">CryptoHeaven Groups are designed to facilitate Role Based Access Control within your CryptoHeaven environment. Assign users to a group and set resource/folder access rights based on the group. Using groups to control access to shared resources simplifies administrative burden when adding or removing users. With group access controls simply assign a new user to a group and all previously set-up resources become available to the new member of the group.</font></p></td>
  </tr>
</table>
<br>
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Icons</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/People16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">group folder</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Actions</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/GroupAdd16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/300">create</a> a new group</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/MemberAdd16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/312">add</a> to a group</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/UserFind16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/500">find</a> a CryptoHeaven user</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><br>Right click an item to see a popup menu and more context sensitive actions.</font></td>
      </tr>
      <tr>
        <td height="1"><img src="/templates/images/spacer.gif" alt="" width="35" height="1"></td>
        <td><img src="/templates/images/spacer.gif" alt="" width="200" height="1"></td>
      </tr>
    </table>
	</td>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Tips</strong></font></td>
      </tr>
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">A user can be a member of more then one group. A group can contain any number of members, including other groups.<br><br>
Make sure to add everyone you work with to your <a href="http://localhost/actions/308?Contacts">Contact List</a>. You need to have people in your Contact List in order to use advanced features such as secure instant messaging or secure file sharing.<br>
<br>
Empty groups/roles are allowed. Create empty groups and use them to build your CryptoHeaven environment. You'll be able to add members later.
        </font></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>