<html>
<body marginwidth="10">
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td width ="50%" valign="top"><font face="Verdana, Arial, Helvetica, sans-serif"><b>Secure Instant Messaging</b></font></td>
    <td valign="top"><div align="right"><img src="/templates/images/Logo-color.png" width="300" height="38" align="right"></div></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">CryptoHeaven Secure Instant Messaging encrypts your Instant Messages end-to-end with the same level of encryption as all other CryptoHeaven components. Your messages are encrypted while in transit and while in storage. Absolutely nothing is stored on your or your recipient's computer.</font></p></td>
  </tr>
</table>
<br>
<table width="100%" border="0">
  <!--DWLayoutTable-->
  <tr>
    <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Icons</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/FldChatClosed16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">chat folder</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/FldMailPostClosed16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">inactive chat history</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Actions</strong></font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/Chat16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/508">start</a> a chat session</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/UserFind16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/500">find</a> a CryptoHeaven user</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/images/People16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/509">invite</a> to Contact List</font></td>
      </tr>
      <tr>
        <td height="16" valign="top"><div align="center"><img src="/templates/images/FldChatClosedShared16.png"></div></td>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><a href="http://localhost/actions/312">share</a> chat with others</font></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><br>Right click an item to see a popup menu and more context sensitive actions.</font></td>
      </tr>
      <tr>
        <td height="1"><img src="/templates/images/spacer.gif" alt="" width="35" height="1"></td>
        <td><img src="/templates/images/spacer.gif" alt="" width="200" height="1"></td>
      </tr>
    </table>
    </td>
    <td valign="top">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
      <!--DWLayoutTable-->
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Tips</strong></font></td>
      </tr>
      <tr>
        <td valign="top"><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Create a group chat session by selecting multiple contacts or a group from your <a href="http://localhost/actions/308?Contacts">Contact List</a>.<br><br>
Add people to an existing chat session by selecting Invite to the Conversation from the chat pop-up menu.<br><br>
Change chat log history retention from the default of 100 messages by going to the folder properties menu.</font></td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>