<html>
<body marginwidth="10">
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Secure Online Storage</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		CryptoHeaven provides an easy and secure way to access, store, backup, and share documents with anyone in the world.
  </font>
</p>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/303"><img src="images/export-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/303"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Upload or Drag & Drop Files and Folders</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/304"><img src="images/import-folder-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/304"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Download Files and Folders</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/300"><img src="images/folder-new-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/300"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Create New Folder</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Uploading</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		You can use drag & drop to upload files and folders.
  </font>
</p>
<br>
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Sharing</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		By default CryptoHeaven File Folders are private, but you can easily <a href="http://localhost/actions/312">share</a> them with people on your <a href="http://localhost/actions/308?Contacts">Contact List</a> or by sending a link via email.
  </font>
</p>
<br>
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Security & Privacy</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		In contrast to most other security providers, all your email and files get encrypted on your computer, so that no one - including the employees at CryptoHeaven Corp. - can access your private email and files. 
	</font>
</p>
<br>
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Encrypted Online Storage</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		For enhanced security, all messages and files reside exclusively on encrypted online storage, so that absolutely nothing is stored on your local computers.
	</font>
</p>
</td>
</tr>
</table>
</body>
</html>