<html>
<body marginwidth="10">
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Groups and Role Based Access Control</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		Using groups to control access to shared resources simplifies administrative burden when adding or removing members. With group access controls, simply assign a new member to a group and all previously set-up resources become available to the new member of the group.
  </font>
</p>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/300"><img src="images/group-add-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/300"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Create New Group</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="images/member-add-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Add Member</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/500"><img src="images/user-find-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/500"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Find CryptoHeaven Members</font></a>
	</td></tr></table>
</td>
<td width="50%">
<br>
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Group Memberships</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		A user can be a member of more then one group. A group can contain any number of members, including other groups.
  </font>
</p>
<br>
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Empty Groups</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		Empty groups/roles are allowed. Create empty groups and use them to build your CryptoHeaven environment. You'll be able to add members later.
	</font>
</p>
</td>
</tr>
</table>
</body>
</html>