<html>
<body marginwidth="10">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">This secure file folder is empty.</font>
</p>
<br>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/303"><img src="images/export-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/303"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Upload or Drag & Drop Files and Folders</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Drag & Drop</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		Upload files and folders with simple drag & drop, or by clicking the upload icon on the toolbar.
	</font>
</p>
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Sharing</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		By default File Folders are private, but you can easily <a href="http://localhost/actions/312">share</a> them with people on your <a href="http://localhost/actions/308?Contacts">Contact List</a> or by sending a link via email.
  </font>
</p>
</td>
</tr>
</table>
</body>
</html>