<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Verdana, Arial, Helvetica, sans-serif"><b>Secure Discussion Group Folder</b></font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Your discussion folder is currently empty.</font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
<p>CryptoHeaven allows you to have a discussion with a single or  multiple partners in a secure environment.</p>
<p>Anyone on your <a href="http://www.cryptoheaven.com/UserGuide/Contacts.htm">contact list</a> can be invited to participate. To invite people to participate in your discussion, select <b>Folder Properties-&gt;Sharing</b> from the folder pop-up menu.  Make sure the <b>Customize sharing properties</b> option is selected, then press the <b>Add</b> button to invite others.</p>
<p>Your messages may include file attachments.</p>
<p>To compose a new message click on the<img src="/images/ComposeMailToFolder16.png" width="16" height="16" align="middle" hspace="4">icon located on the toolbar.</p>
</font>
</body>
</html>