<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><b>Address Book</b></font><br>
    <font face="Verdana, Arial, Helvetica, sans-serif" size="-1">This address book is currently empty.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">To add a new record, click<strong> <a href="http://localhost/actions/511">New Address</a></strong> <a href="http://localhost/actions/511"><img src="/images/AddressAdd24.png" width="24" height="24" hspace="4" border="0" align="absmiddle"></a> from the top menu or from the pop-up menu.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Email addresses of people in your Address Books are exempt form spam filtering and are used in address auto-comletion. </font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
</font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Shared Address Books</strong></font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
</font>
<p><font size="-1">C</font><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">reate a global shared address book for your organization. To share an address book with others, select the address book in the folder tree and choose <strong>Share Address Book</strong> from the folder pop-up menu.  Enable <b>Customize Sharing Properties</b> option and click the <b>Add</b> button to add other users.</font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1"></font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"> Your default private address book can be shared, but you can also create a separate one from the <strong><a href="http://localhost/actions/300">File &gt; New Folder</a></strong> menu.</font></p>

</body>
</html>