<html>
<body marginwidth="10">
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Contact List is empty.</font>
</p>
<br>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/500"><img src="/images/UserFind24.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/500"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Find Members</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/509"><img src="/images/People24.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/509"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Invite by Email</font></a>
	</td></tr></table>
</td>
</tr>
</table>
</body>
</html>