<html>
<body marginwidth="10">
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">This Allowed Senders list is empty.</font>
</p>
<br>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/700"><img src="images/address-add-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/700"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">New Address</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="Arial,Helvetica,Verdana,sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Spam Filtering</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		Email addresses of people in your Allowed Senders list are exempt from spam filtering.
	</font>
</p>
<br>
<p>
	<font size="+0" face="Arial,Helvetica,Verdana,sans-serif">Moving to the Address Book</font>
</p>
<p>
	<font size="-1" face="Arial,Helvetica,Verdana,sans-serif">
		By moving addresses to your Address Book, they will become available for the address auto-competion feature.
  </font>
</p>
</td>
</tr>
</table>
</body>
</html>