<html>
<body marginwidth="10">
<p>
	<font face="'lucida grande', tahoma, verdana, arial, sans-serif">This sent email folder is empty.</font>
</p>
<p>
	<font face="'lucida grande', tahoma, verdana, arial, sans-serif" size="-1">Your sent messages will be stored here.</font>
</p>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/503"><img src="images/mail-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/503"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Compose New Mail</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/508"><img src="/images/chat-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/508"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Chat</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Sharing</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		By default Mail Folders are private, but you can easily <a href="http://localhost/actions/312">share</a> them with people on your <a href="http://localhost/actions/308?Contacts">Contact List</a> or by sending a link via email.
  </font>
</p>
</td>
</tr>
</table>
</body>
</html>