<html>
<body marginwidth="10">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">This address book is empty.</font>
</p>
<br>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/511"><img src="images/address-add-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/511"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">New Address</font></a>
	</td></tr></table>
  <table><tr><td>
	<a href="http://localhost/actions/212"><img src="images/address-book-import-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/212"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Import Address Book</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Address Auto-completion</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		Email addresses of people in your Address Books are used for address auto-completion feature and are exempt form spam filtering.
	</font>
</p>
<br>
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Shared Address Books</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		You can share any of your address books with your organization and give everyone access to the updated contact information. Multiple address books are supported.
  </font>
</p>
</td>
</tr>
</table>
</body>
</html>