<html>
<body marginwidth="10">
	<p>
		<font face="Arial,Helvetica,Verdana,sans-serif">This spam email folder is empty.</font>
	</p>
<p><font size="-1" face="Arial,Helvetica,Verdana,sans-serif">Spam email filter is designed to catch most junk email messages. Any message that is caught by CryptoHeaven spam email filter is moved to this special folder. You should review messages in the spam folder from time to time to make sure there are no legitimate messages you want to see.</font></p>
<p><font face="Arial,Helvetica,Verdana,sans-serif">Allowed Senders List</font></p>
<p><font size="-1" face="Arial,Helvetica,Verdana,sans-serif">If you do find a legitimate message in your spam email folder, click the <strong>Not Spam</strong> link. The email address will be added to your Allowed Senders list and the message will be moved back to your Inbox.</font></p>
<p><font size="-1" face="Arial,Helvetica,Verdana,sans-serif">Messages from people in the <a href="http://localhost/actions/308?Allowed-Senders">Allowed Senders</a> list and in your <a href="http://localhost/actions/308?Address-Book">Address Book</a> are exempt from spam filtering.</font></p>
</body>
</html>