<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Arial, Helvetica, Verdana, sans-serif"><b>Secure Drafts eMail Folder</b></font><br>
<font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Your drafts email folder is currently empty.</font>
<p><font face="Arial, Helvetica, Verdana, sans-serif">Help &amp; Support<font size="-1"><br>
  <a href="http://www.cryptoheaven.com/QuickTour/Sending-Secure-Email.htm"><img src="/templates/images/bullet.gif" border="0">Sending Secure Email - Quick Overview</a><br>
  <a href="http://www.cryptoheaven.com/UserGuide/Secure-Email-CryptoMail.htm"><img src="/templates/images/bullet.gif" border="0">Sending Secure Email - Tutorial</a></font></font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">CryptoHeaven keeps your unfinished messages in this folder.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">The drafts message folder allows you to save all unfinished messages. If you are sending a message to someone and you don't have all the information available to finish the message then you can save it to drafts folder. You can then come back to it later at your convenience. To save an unfinished message you simply close the Compose Message window.</font></p>
</body>
</html>