<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
		
<font face="Verdana, Arial, Helvetica, sans-serif"><b>Secure Instant Messaging</b></font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Your secure instant message log is empty.</font>
<p><font size="-1">S</font><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">end secure instant messages to anyone on your <a href="http://www.cryptoheaven.com/UserGuide/Contacts.htm">contact list</a>. To send  a new message, write it in the box below and click on the send <img src="/images/SendMail16.png" width="16" height="16" hspace="4" align="middle">icon.</font> <font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Your instant message may include file attachments.</font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Group Messaging</strong></font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Any number of people can participate in an Instant Messaging session and they do not have to be online at the same time.</font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Add people to an existing chat session by selecting <strong>Invite to the Conversation</strong>  from the pop-up menu.</font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Create a new multi-user chat session by highlighting all desired contacts and selecting <strong>Chat</strong> from the contacts pop-up menu.</font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1"></font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Automatic Purging</strong></font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Secure Instant Message log can be set to hold any number of messages. The default setting is to hold a maximum of 40 messages for up to 2 weeks.  This can be changed by selecting <b>Folder Properties &gt; Purging</b> from the folder pop-up menu.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif"><strong>Help &amp; Support</strong><font size="-1"><br>
      <a href="http://www.cryptoheaven.com/UserGuide/Secure-Instant-Messaging-CryptoChat.htm"><img src="/templates/images/bullet.gif" border="0">Sending Instant Messages - Tutorial</a></font></font></p>
</body>
</html>