<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Arial, Helvetica, Verdana, sans-serif"><b>Secure Discussion Group Folder</b></font><br>
<font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Your discussion folder is currently empty.</font><br>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">CryptoHeaven allows you to have a discussion with a single or  multiple partners in a secure environment.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Anyone on your <a href="http://www.cryptoheaven.com/UserGuide/Contacts.htm">contact list</a> can be invited to participate. To invite people to participate in your discussion, select <b>Folder Properties-&gt;Sharing</b> from the folder pop-up menu.  Make sure the <b>Customize sharing properties</b> option is selected, then press the <b>Add</b> button to invite others.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Your messages may include file attachments.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">To compose a new message click on the<img src="/images/ComposeMailToFolder16.png" width="16" height="16" align="middle" hspace="4">icon located on the toolbar.</font></p>
</body>
</html>