<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Verdana, Arial, Helvetica, sans-serif"><b>Allowed Senders</b></font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Your allowed senders list is currently empty.</font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1"></font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Use the Allowed Senders list to create a list of senders who are protected from any antispam scanning or junk mail filtering. Messages from senders on your Allowed Senders list are always sent to your Inbox.</font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>NOTE:</strong> Senders who are in your Address Book are also protected from antispam and junk mail scanning. Move people to your Address Book and complete their contact information if you intend to correspond with them. This will  allow address auto-completion and other advanced features to work on these addresses. Use the Allowed Senders only for people whom you do not want to have in your regular Address Book.</font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Adding to Allowed Senders List</strong></font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">There are two ways to add to your allowed senders list:</font></p>
<ul>
  <li><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">hit the not spam link for messages that ended up in your spam folder</font></li>
  <li><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">enter a new email address by going to <strong>Address&gt;New Address to Folder</strong> menu, you only need to enter the email address as all other fields are optional </font></li>
</ul>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">To remove senders from your Allowed Senders list, highlight the sender's e-mail   address or name and hit the <strong>Delete</strong> key on your keyboard. You can also access this option from the popup menu of the Allowed Senders window.</font> <font size="-1" face="Verdana, Arial, Helvetica, sans-serif">That sender   disappears from your Allowed Senders list and is now subject to antispam   scanning and junk mail filtering.</font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
</font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Upgrading Contacts from Allowed Senders to Address Book</strong></font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">View the Allowed Senders list and then Drag &amp; Drop the contacts to your regular address book. You can then edit the contact to include additional information such as their phone numbers and addresses.</font><font face="Verdana, Arial, Helvetica, sans-serif" size="-1"></font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
</font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif"><strong>Sharing Allowed Senders List</strong> </font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
</font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Allowed Senders List, just like your Address Books can be shared. To <a href="http://localhost/actions/312">share</a> the Allowed Senders List with other users, select <strong>File-&gt;Invite to Share Address Book</strong> from the window top menu.  Select the <b>Customize Sharing Properties </b> option, then press the <b>Add</b> button to add other users or groups.</font></p>

</body>
</html>