<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Arial, Helvetica, Verdana, sans-serif"><b>Spam Email Folder</b></font><br>
<font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Your spam email folder is currently empty.</font>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif">Spam email filter is designed to catch most junk email messages. Any message that is caught by CryptoHeaven spam email filter is moved to this special folder. You should review messages in the spam email folder from time to time to make sure that they are not legitimate messages that you want to see.</font></p>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif"><strong>Allowed Senders List</strong></font></p>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif">If you do find a legitimate message in your spam email folder, click the <strong>Not Spam</strong> link. The email address will be added to your Allowed Senders list and the message will be moved back to your Inbox.</font></p>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif">Messages from people in the <strong><a href="http://localhost/actions/308?Allowed%20Senders">Allowed Senders</a></strong> list and in your <strong><a href="http://localhost/actions/308?Address%20Book">Address Book</a></strong> are exempt from spam filtering.</font></p>
</body>
</html>