<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Arial, Helvetica, Verdana, sans-serif"><b>Secure Sent eMail Folder</b></font><br>
<font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Your sent email folder is currently empty.</font>
<p><font face="Arial, Helvetica, Verdana, sans-serif">Help &amp; Support<font size="-1"><br>
  <a href="http://www.cryptoheaven.com/QuickTour/Sending-Secure-Email.htm"><img src="/templates/images/bullet.gif" border="0">Sending Secure Email - Quick Overview</a><br>
  <a href="http://www.cryptoheaven.com/UserGuide/Secure-Email-CryptoMail.htm"><img src="/templates/images/bullet.gif" border="0">Sending Secure Email - Tutorial</a></font></font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">CryptoHeaven keeps your sent messages in this folder.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">The sent message folder allows you to keep track of your sent messages.  Here you can check message delivery by selecting <b>Trace Message Access</b> from the message pop-up menu (<a href="http://www.cryptoheaven.com/UserGuide/Secure-Email-CryptoMail-Advanced.htm#TracingMessageDelivery">more info</a>).</font></p>
</body>
</html>