<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Arial, Helvetica, Verdana, sans-serif"><b>Secure Email Folder</b></font><br>
<font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Your secure email folder is empty.</font>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Compose a new message by clicking the<a href="http://localhost/actions/503"><img src="/images/ComposeMail24.png" width="24" height="24" hspace="4" border="0" align="absmiddle"></a>icon located on the toolbar.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1"><strong>Sending Secure Email</strong></font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Any email  sent to any person on your <a href="http://localhost/actions/308?Contacts">Contact List</a> or to any other CryptoHeaven user is always encrypted. Encryption is transparent and does not require any further input from you. All file attachments are also encrypted.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1"><strong>Individual Message Encryption</strong></font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1">Any email sent to any regular email account can be individually encrypted with a &quot;Question and Answer&quot;. To send an individually encrypted message compose the message and hit the send button. You will be asked if you want to encrypt the message with a question and answer.</font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif" size="-1"><strong>Anonymous Email</strong></font></p>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif">None of the messages sent from your account contain any personally identifiable information or your IP address.</font></p>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif"><strong>Address Book</strong></font></p>
<p><font size="-1" face="Arial, Helvetica, Verdana, sans-serif">Don't forget to <a href="http://localhost/actions/511">add</a> people to your Address Book. People can be added individually or <a href="http://localhost/actions/212">imported</a> from external sources. Anyone in your <a href="http://localhost/actions/308?Address%20Book">Address Book</a> is exempt from spam filtering and their messages will never end up in your <a href="http://localhost/actions/308?Spam">Spam</a> folder. </font></p>
<p><font face="Arial, Helvetica, Verdana, sans-serif">Help &amp; Support<font size="-1"><br>
  <a href="http://www.cryptoheaven.com/QuickTour/Sending-Secure-Email.htm"><img src="/templates/images/bullet.gif" border="0">Sending Secure Email - Quick Overview</a><br>
  <a href="http://www.cryptoheaven.com/UserGuide/Secure-Email-CryptoMail.htm"><img src="/templates/images/bullet.gif" border="0">Sending Secure Email - Tutorial</a></font></font>
</p>
</body>
</html>