<html>
<body marginwidth="5">
<font face="Verdana, Arial, Helvetica, sans-serif"><b>Contact List</b></font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">Your contact list  is empty.</font>
<p><font size="-2" face="Verdana, Arial, Helvetica, sans-serif">Create Contact List to:</font></p>
<ul>
  <li><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">use  instant messaging</font></li>
  <li><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">share file folders</font></li>
  <li><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">share address books </font></li>
  <li><font face="Verdana, Arial, Helvetica, sans-serif" size="-2">see their online status</font></li>
</ul>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-2">
<p>Click the<a href="http://localhost/actions/500"><img src="/images/UserFind16.png" width="16" height="16" hspace="4" border="0" align="absmiddle"></a>icon to add<b><i> </i></b>a new contact to this list.</p>
<p>Click the<a href="http://localhost/actions/509"><img src="/images/People16.png" width="16" height="16" hspace="4" border="0" align="absmiddle"></a>icon to invite your associates or clients  by email.</p>
</font>
</body>
</html>