<html>
<body marginwidth="5">
<font face="Arial, Helvetica, Verdana, sans-serif"><b>Contact List</b></font><br>
<p>
<font face="Arial, Helvetica, Verdana, sans-serif" size="-2">
  Your contact list  is empty.
  <br><br>
  Create Contact List to:
  <br>
  <img src="/templates/images/bullet.gif" border="0">use  instant messaging<br>
  <img src="/templates/images/bullet.gif" border="0">share file folders<br>
  <img src="/templates/images/bullet.gif" border="0">share address books<br>
  <img src="/templates/images/bullet.gif" border="0">see their online status<br>
  <br>
  Click the<a href="http://localhost/actions/500"><img src="/images/UserFind16.png" width="16" height="16" hspace="4" border="0" align="absmiddle"></a>icon to add a new contact to this list.
  <br>
  Click the<a href="http://localhost/actions/509"><img src="/images/People16.png" width="16" height="16" hspace="4" border="0" align="absmiddle"></a>icon to invite your associates or clients  by email.
  </font></p>
</body>
</html>