<html>
<body marginwidth="10">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">This secure discussion folder is empty.</font>
</p>
<br>
<table width="100%">
<tr>
	<td>
	<table><tr><td>
	<a href="http://localhost/actions/700"><img src="images/posting-48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/700"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Post New Message</font></a>
	</td></tr></table>
	<table><tr><td>
	<a href="http://localhost/actions/312"><img src="/images/share48.png" border="0" align="middle"></a>
	&nbsp;&nbsp;
	</td>
	<td>
	<a href="http://localhost/actions/312"><font face="'lucida grande', tahoma, verdana, arial, sans-serif" color="#000000">Share With Others</font></a>
	</td></tr></table>
</td>
<td width="50%">
<p>
	<font size="+0" face="'lucida grande', tahoma, verdana, arial, sans-serif">Inviting Others</font>
</p>
<p>
	<font size="-1" face="'lucida grande', tahoma, verdana, arial, sans-serif">
		To share this folder, invite anyone form your Contact List or send a link via email.
	</font>
</p>
</td>
</tr>
</table>
</body>
</html>