<html>
<body marginwidth="10">
<div ALIGN="RIGHT"><img src="/templates/images/Logo-color.png" width="300" height="38" ALIGN="RIGHT"></div>
<font face="Verdana, Arial, Helvetica, sans-serif"><b>Secure File Folder</b></font><br>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1">The secure file folder is empty.</font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Take advantage of CryptoHeaven as your &quot;digital safe deposit box.&quot; CryptoHeaven secure online storage capability allows you to access, store and backup digital information in a secure and private vault.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
By default most CryptoHeaven file folders are private but you can also securely <a href="http://www.cryptoheaven.com/UserGuide/Secure-File-Storage-CryptoVault.htm#SharingDataFolders">share</a> them with people on your <a href="http://localhost/actions/308?Contacts">Contact List</a>.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Create a new file folder by selecting <a href="http://localhost/actions/300">File &gt; New Folder</a>.</font></p>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">Upload files with simple drag &amp; drop or by clicking on the<a href="http://localhost/actions/303"><img src="/images/Export24.png" width="24" height="24" hspace="4" border="0" align="absmiddle"></a>icon located on the toolbar.</font></p>
<font face="Verdana, Arial, Helvetica, sans-serif" size="-1"><p><strong>Sharing File Folders</strong></p>
</font>
<p><font size="-1" face="Verdana, Arial, Helvetica, sans-serif">To share a folder right click on the folder and select <strong>Share Folder</strong> from the popup menu. Enable <strong>Customize Sharing Properties</strong> and <strong>Add</strong> people or groups to the list. Folders can be shared with anyone on your Contact List.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">Only people whom you have explicitly granted permission to will be able to access files in a shared folder.</font></p>
<p><font face="Verdana, Arial, Helvetica, sans-serif">Help &amp; Support<font size="-1"><br>
<a href="http://www.cryptoheaven.com/QuickTour/Secure-Online-File-Storage.htm"><img src="/templates/images/bullet.gif" border="0">Storing Files Online - Quick Overview</a><br>
<a href="http://www.cryptoheaven.com/UserGuide/Secure-File-Storage-CryptoVault.htm"><img src="/templates/images/bullet.gif" border="0">Storing Files Online - Tutorial</a></font></font><font face="Verdana, Arial, Helvetica, sans-serif" size="-1">
</font></p>
</body>
</html>